<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To-do</title>
</head>

<body>
    <h1>
        <%= kindOfDay%>
    </h1>
    <form action="/" method="post">
        <label for="new_item">Enter your task: </label>
        <input type="text" id="new_item" name="new_item">
        <input type="submit" value="add">
    </form>
    <ul>
        <% for(var i=0; i<NewItem.length;i++)  {%>
            <li> <%= NewItem[i] %>  </li>
        <% } %> 
    </ul>
</body>

</html>